<%- include('../includes/head.ejs') %>
<div class="flat_adding mtt">
  <form class="row g-3 fs-4" action="/add-product" method="POST">
    <div class="my-5 adding_file">
      <h3 class="mb-4">Rasm qo'shish (maksimal 3ta)</h3>
      <label for="img" class="btn btn-primary p-3">+ Rasm qo'shish</label>
      <input type="file" id="img" class="d-none" multiple />
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="rentOrSell" id="rentOrSell1" value="Ijaraga" />
      <label class="form-check-label" for="rentOrSell1"> Ijaraga </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="rentOrSell" id="rentOrSell2" checked value="Sotiladi" />
      <label class="form-check-label" for="rentOrSell2"> Sotiladi </label>
    </div>
    <div class="col-md-6">
      <label for="shortInfo" class="form-label">Qisqa ta'rif</label>
      <input type="text" class="form-control fs-3" name="shortInfo" maxlength="30" placeholder="Magazin sotiladi" />
    </div>
    <div class="col-md-6">
      <label for="room" class="form-label">Xonalar soni</label>
      <input type="number" class="form-control fs-3" name="rooms" />
    </div>
    <div class="col-md-6">
      <label for="floor" class="form-label">Bino maydoni(M2)</label>
      <input type="number" class="form-control fs-3" name="area" />
    </div>
    <div>
      <h4 class="mt-3">Binoda mavjud</h4>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="gas" type="checkbox" value="Gaz" id="flexCheckDefault" />
      <label class="form-check-label" for="flexCheckDefault"> Gaz </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="electricity" type="checkbox" value="Elektr" id="flexCheckChecked" />
      <label class="form-check-label" for="flexCheckChecked"> Elektr </label>
    </div>
    <div class="form-floating fs-4 mb-5">
      <textarea class="form-control fs-3" name="address" style="height: 70px"></textarea>
      <label for="floatingTextarea2">Manzilni kiriting</label>
    </div>
    <div class="col-md-6">
      <label for="flatPrice" class="form-label">Narxi:</label>
      <input type="number" class="form-control fs-3" name="price" />
    </div>
    <div class="col-md-6">
      <label for="phone" class="form-label">Telefon raqamingizni kiriting</label>
      <input type="number" class="form-control fs-3" name="phoneNumber" />
    </div>
    <div>
      <input type="hidden" name="productType" value="e-building" />
      <button type="submit" class="btn btn-primary fs-4">Qo'shish</button>
    </div>
  </form>
</div>
<%- include('../includes/end.ejs') %>
