<%- include('../includes/head.ejs') %>
<div class="product_adding mtt">
  <form class="row g-3 fs-4" action="/add-product" method="POST">
    <div class="my-5 adding_file">
      <h3 class="mb-4">Rasm qo'shish (maksimal 3ta)</h3>
      <label for="img" class="btn btn-primary p-3">+ Rasm qo'shish</label>
      <input type="file" id="img" class="d-none" multiple />
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="rentOrSell" id="rentOrSell1" value="Ijara" />
      <label class="form-check-label" for="rentOrSell1"> Ijaraga </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="rentOrSell" id="rentOrSell2" value="Sotiladi" checked />
      <label class="form-check-label" for="rentOrSell2"> Sotiladi </label>
    </div>
    <div class="col-md-6">
      <label for="shortInfo" class="form-label">Qisqa ta'rif</label>
      <input type="text" class="form-control fs-3" name="shortInfo" maxlength="30" placeholder="Kvartira sotiladi" />
    </div>
    <div class="col-md-6">
      <label for="rooms" class="form-label">Xonalar soni</label>
      <input type="number" class="form-control fs-3" name="rooms" />
    </div>
    <div class="col-md-6">
      <label for="floors" class="form-label">Uy nechchi qavatlik</label>
      <input type="number" class="form-control fs-3" name="floors" />
    </div>
    <div class="col-md-6">
      <label for="floor" class="form-label">Nechanchi qavat</label>
      <input type="number" class="form-control fs-3" name="floor" />
    </div>
    <div class="col-md-6">
      <label for="area" class="form-label">Kvartira umumiy maydoni(m2)</label>
      <input type="number" class="form-control fs-3" id="square" step="0.01" name="area" />
    </div>
    <div class="col-md-6">
      <label for="flatCondition" class="form-label">Kvartira holati</label>
      <select class="form-select form-select-lg mb-3 fs-4" aria-label=".form-select-lg example" name="flatCondition">
        <option value="Yangi">Yangi</option>
        <option value="O'rtacha">O'rtacha</option>
        <option value="Remont talab">Remont talab</option>
      </select>
    </div>
    <div>
      <h4 class="mt-3">Kvartirada mavjud</h4>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        name="airConditioning"
        value="Konditsioner"
        id="air-conditioning"
      />
      <label class="form-check-label" for="air-conditioning"> Konditsioner </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="freeze" value="Muzlatgich" id="freeze" />
      <label class="form-check-label" for="freeze"> Muzlatgich </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="furniture" value="Mebel" id="furniture" />
      <label class="form-check-label" for="furniture"> Mebel </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="washing" value="Kir mashinasi" id="washing" />
      <label class="form-check-label" for="washing"> Kir yuvish mashinasi </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="tv" value="Televizor" id="tv" checked />
      <label class="form-check-label" for="tv"> Televizor </label>
    </div>
    <div class="col-md-6">
      <label for="color" class="form-label">Manzilni tanlang</label>
      <select class="form-select form-select-lg mb-3 fs-4" aria-label=".form-select-lg example" name="address">
        <option value="Vodil">Vodil</option>
        <option value="Yoshlarobod">Yoshlarobod</option>
        <option value="Novkent'k">Novkent</option>
        <option value="Yangiobod">Yangiobod</option>
        <option value="Mindonobod">Mindonobod</option>
        <option value="Avval">Avval</option>
        <option value="Kaptarxona">Kaptarxona</option>
        <option value="Log'on">Log'on</option>
        <option value="Mindon">Mindon</option>
        <option value="Chimyon">Chimyon</option>
        <option value="Xonqiz">Xonqiz</option>
        <option value="Oqtom">Oqtom</option>
        <option value="Satkak">Satkak</option>
        <option value="Damko'l">Damko'l</option>
        <option value="Shoximardon">Shoximardon</option>
      </select>
    </div>
    <div class="form-floating fs-4 mb-5">
      <textarea class="form-control fs-3" name="extraInfo" style="height: 70px"></textarea>
      <label for="address">Qo'shimcha ma'lumot</label>
    </div>
    <div class="col-md-6">
      <label for="flatPrice" class="form-label">Narxi($):</label>
      <input type="number" class="form-control fs-3" name="price" />
    </div>
    <div class="col-md-6">
      <label for="phoneNumber" class="form-label">Telefon raqamingizni kiriting</label>
      <input type="number" class="form-control fs-3" name="phoneNumber" placeholder="998901234567" />
    </div>
    <div>
      <input type="hidden" name="productType" value="flat" />
      <button type="submit" class="btn btn-primary fs-4">Qo'shish</button>
    </div>
  </form>
</div>
<%- include('../includes/end.ejs') %>
