<%- include('../includes/head.ejs') %>
<div class="flat_adding mtt">
    <form class="row g-3 fs-4" action="/add-product" method="POST">
      <div class="my-5 adding_file">
        <h3 class="mb-4">Rasm qo'shish (maksimal 3ta)</h3>
        <label for="img" class="btn btn-primary p-3">+ Rasm qo'shish</label>
        <input type="file" id="img" class="d-none" multiple />
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="rentOrSell" id="flexRadioDefault1" value="Ijara" />
        <label class="form-check-label" for="flexRadioDefault1"> Ijaraga </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="rentOrSell" id="flexRadioDefault2" checked value="Sotiladi" />
        <label class="form-check-label" for="flexRadioDefault2"> Sotiladi </label>
      </div>
      <div class="col-md-6">
        <label for="shortInfo" class="form-label">Qisqa ta'rif</label>
        <input type="text" class="form-control fs-3" name="shortInfo" maxlength="30" placeholder="Uy sotiladi" />
      </div>
      <div class="col-md-6">
        <label for="room" class="form-label">Xonalar soni</label>
        <input type="number" class="form-control fs-3" name="rooms" />
      </div>
      <div class="col-md-6">
        <label for="square" class="form-label">Maydoni (sotix)</label>
        <input type="number" class="form-control fs-3" name="area" step="0.01" />
      </div>
      <div class="col-md-6">
        <label for="condition_flat" class="form-label">Remont holati</label>
        <input type="text" class="form-control fs-3" name="houseCondition" />
      </div>
      <div>
        <h4 class="mt-3">Hovli uyda mavjud</h4>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="gas" value="Gaz" id="gas"/>
        <label class="form-check-label" for="flexCheckDefault"> Gaz </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="electricity" value="Elektr" id="electricity"/>
        <label class="form-check-label" for="flexCheckChecked"> Elektr </label>
      </div>
      <div class="form-floating fs-4 mb-5">
        <textarea class="form-control fs-3" name="address" style="height: 70px"></textarea>
        <label for="floatingTextarea2">Manzilni kiriting</label>
      </div>
      <div class="col-md-6">
        <label for="flatPrice" class="form-label">Narxi:</label>
        <input type="number" class="form-control fs-3" name="price" />
      </div>
      <div class="col-md-6">
        <label for="phone" class="form-label">Telefon raqamingizni kiriting</label>
        <input type="number" class="form-control fs-3" name="phoneNumber" />
      </div>
      <div>
        <input type="hidden" name="productType" value="house">
        <button type="submit" class="btn btn-primary fs-4">Qo'shish</button>
      </div>
    </form>
  </div>
  <%- include('../includes/end.ejs') %>