<%- include('./includes/head.ejs') %>
<div class="text-center mts mx-auto">
  <img class="allError" src="/image/error.png" alt="Error" />
  <section>
    <h2 class="text-dark mt-3"><%= msg %></h2>
  </section>
</div>
<%- include('./includes/end.ejs') %>
