<%- include('./includes/head.ejs') %>
<div class="text-center mts mx-auto">
  <img class="allError" src="/image/error.png" alt="Error" />
  <h1 class="text-info mb-3"><%= msg %></h1>
</div>
<%- include('./includes/end.ejs') %>
