<%- include('../includes/head.ejs') %>
<div class="choosing_category">
    <h1 class="text-center">Kategoriyalardan birini tanlang</h1>
    <div class="choosing_category_items d-md-flex">
      <div class="d-flex">
        <div class="me-md-5 choosing_category_item d-flex flex-column">
          <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#house">
            <i class="fa-solid fa-house"></i>
          </button>
          <h4 class="text-center mt-3">Uy-joy oldi-sotdi <br> va ijarasi</h4 class="text-center mt-3">
        </div>
        <div  class="me-md-5 choosing_category_item d-flex flex-column">
          <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#car">
            <i class="fa-solid fa-car"></i>
          </button>
          <h4 class="text-center mt-3">Avtomobil, moped <br> va velosipedlar</h4 class="text-center mt-3">
        </div>
      </div>
      <div class="d-flex">
        <div  class="me-md-5 choosing_category_item d-flex flex-column">
          <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#job">
            <i class="fa-solid fa-briefcase"></i>
          </button>
          <h4 class="text-center mt-3">Ish va xizmatlar taklifi</h4 class="text-center mt-3">
        </div>
        <div class="choosing_category_item d-flex flex-column">
          <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#electronics">
            <i class="fa-solid fa-laptop"></i>
          </button>
          <h4 class="text-center mt-3">Elektronika, uy jihozlari <br>va hayvonot</h4 class="text-center mt-3">
        </div>
      </div>
      </div>
  </div>
  <div class="footer">
    Footer
  </div>

  <!-- Bootstrap model starts here -->

  <div class="modal fade" id="house" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Uy-Joy</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <a href="/flat-category" class="fs-4 d-block my-1">Kvartira</a>
          <a href="/house-category" class="fs-4 d-block my-3">Hovli uy</a>
          <a href="/land-category" class="fs-4 d-block my-3">Quruq yer</a>
          <a href="/e-building-category" class="fs-4 d-block my-3">Tijorat binosi</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="car" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Avto</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <a href="/car-category" class="fs-4 d-block my-3">Yengil avtomobil</a>
          <a href="/track-category" class="fs-4 d-block my-3">Yuk avtomobil</a>
          <a href="/moto-category" class="fs-4 d-block my-3">Motosikl</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="job" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Ish</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <a href="/resume-category" class="fs-4 d-block my-3">Ta'lim</a>
          <a href="/housdde-building-category" class="fs-4 d-block my-3">Ish o'rni</a>
          <a href="/service-category" class="fs-4 d-block my-3">Xizmat ko'rsatish</a>
          <a href="/house-building-category" class="fs-4 d-block my-3">Qurilish</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="electronics" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Elektronika</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <a href="./electronics/phone.html" class="fs-4 d-block my-3">Telfonlar</a>
          <a href="./electronics/lap-top.html" class="fs-4 d-block my-3">Kompyuterlar</a>
          <a href="./electronic/house-tools.html" class="fs-4 d-block my-3">Uy-jihozlari</a>
          <a href="./electronics/animal.html" class="fs-4 d-block my-3">Hayvonot</a>
        </div>
      </div>
    </div>
  </div>
  <%- include('../includes/end.ejs') %>