<%- include('../includes/head.ejs') %>
<div class="product_adding mtt">
  <form class="row g-3 fs-4" action="/add-product" method="POST">
    <div class="my-5 adding_file">
      <h3 class="mb-4">Rasm qo'shish (maksimal 3ta)</h3>
      <label for="img" class="btn btn-primary p-3">+ Rasm qo'shish</label>
      <input type="file" id="img" class="d-none" multiple />
    </div>
    <div class="col-md-6">
      <label for="shortInfo" class="form-label">Qisqa ta'rif</label>
      <input type="text" class="form-control fs-3" name="shortInfo" maxlength="30" placeholder="Ish kerak" />
    </div>
    <div class="col-md-6">
      <label for="educationType" class="form-label">Ta'lim turi</label>
      <select class="form-select form-select-lg mb-3 fs-4" aria-label=".form-select-lg example" name="educationType">
        <option value="Oliy">Oliy</option>
        <option value="O'rta maxsus">O'rta maxsus</option>
        <option value="Tugallanmagan Oliy">Tugallanmagan Oliy</option>
        <option value="Boshlang'ich ta'lim">Boshlang'ich ta'lim</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="gender" class="form-label">Jinsi</label>
      <select class="form-select form-select-lg mb-3 fs-4" aria-label=".form-select-lg example" name="gender">
        <option value="Ayol">Ayol</option>
        <option value="Erkak">Erkak</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="specialization" class="form-label">Mutaxassislik</label>
      <input type="text" class="form-control fs-3" name="specialization" />
    </div>
    <div class="col-md-6">
      <label for="experience" class="form-label">Ish tajribangiz(yil)</label>
      <input type="number" class="form-control fs-3" name="experience" />
    </div>
    <div class="col-md-6">
      <label for="birthday" class="form-label">Tug'ilgan sana</label>
      <input type="date" class="form-control fs-3" name="birthday" />
    </div>
    <div class="form-floating fs-4 mb-5">
      <textarea class="form-control fs-3" name="address" style="height: 70px"></textarea>
      <label for="address">Manzilni kiriting</label>
    </div>
    <div class="col-md-6">
      <label for="price" class="form-label">Maosh:</label>
      <input type="number" class="form-control fs-3" name="salary" />
    </div>
    <div class="col-md-6">
      <label for="phoneNumber" class="form-label">Telefon raqamingizni kiriting</label>
      <input type="number" class="form-control fs-3" name="phoneNumber" />
    </div>
    <div>
      <input type="hidden" name="productType" value="resume" />
      <button type="submit" class="btn btn-primary fs-4">Qo'shish</button>
    </div>
  </form>
</div>
<%- include('../includes/end.ejs') %>
