<%- include('../includes/head.ejs') %>
<div class="flat_adding mtt">
  <form class="row g-3 fs-4">
    <div class="my-5 adding_file">
      <h3 class="mb-4">Rasm qo'shish (maksimal 3ta)</h3>
      <label for="img" class="btn btn-primary p-3">+ Rasm qo'shish</label>
      <input type="file" id="img" class="d-none" multiple />
    </div>
    <div class="col-md-6">
      <label for="shortInfo" class="form-label">Qisqa ta'rif</label>
      <input type="text" class="form-control fs-3" name="shortInfo" maxlength="30" placeholder="Magazin sotiladi" />
    </div>
    <div class="col-md-6">
      <label for="room" class="form-label">Markasi</label>
      <input type="number" class="form-control fs-3" id="room" />
    </div>
    <div class="col-md-6">
      <label for="room" class="form-label">Modeli</label>
      <input type="number" class="form-control fs-3" id="room" />
    </div>
    <div class="col-md-6">
      <label for="nthfloor" class="form-label">Telefon holati</label>
      <select class="form-select form-select-lg mb-3 fs-4" aria-label=".form-select-lg example">
        <option value="1">Ishlatilgan</option>
        <option value="2">Yangi</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="nthfloor" class="form-label">Doimiy xotira</label>
      <select class="form-select form-select-lg mb-3 fs-4" aria-label=".form-select-lg example">
        <option value="2">16</option>
        <option value="2">32</option>
        <option value="2">64</option>
        <option value="2">128</option>
        <option value="2">256</option>
        <option value="2">512</option>
        <option value="2">1024</option>
      </select>
    </div>
    <div class="form-floating fs-4 mb-5">
      <textarea
        class="form-control fs-3"
        placeholder="Leave a comment here"
        id="floatingTextarea2"
        style="height: 100px"
      ></textarea>
      <label for="floatingTextarea2">Manzilni kiriting</label>
    </div>
    <div class="col-md-6">
      <label for="flatPrice" class="form-label">Narxi:</label>
      <input type="number" class="form-control fs-3" id="flatPrice" />
    </div>
    <div class="col-md-6">
      <label for="phone" class="form-label">Telefon raqamingizni kiriting</label>
      <input type="number" class="form-control fs-3" id="phone" />
    </div>
    <div>
      <button type="button" class="btn btn-primary fs-4">Qo'shish</button>
    </div>
  </form>
</div>
<%- include('../includes/end.ejs') %>
